Package: com.tozy.DingTalkTweak
Name: DingTalkTweak
Version: 0.1-1
Description: 
Section: Tweaks
Depends: firmware (>= 5.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: TozyZuo
dev: 
Homepage: 
Depiction: 钉钉插件 1.防撤回 2.自动抢红包 3.抢自己，延迟秒数 4.修改步数
Maintainer: TozyZuo
Icon: 

